{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container">
        <div class="container">
            <p>The courses below attest to my willingness to learn and grow constantly. It's how I learned analytics, visualizations, data science, and, of course, how to make this website</p>
            <ul>
                <p>In the Works</p>
                <ul>
                    <li>Udemy's Complete Python Web Course: Build 8 Python Web Apps (still in progress)</li>
                </ul>
                <p>August 2017 Completion</p>
                <ul title="August Completion">
                    <li><a href="https://www.udemy.com/certificate/UC-PVYC1AZP/" target="_blank">Udemy's Complete Python and PostgreSQL Developer Course</a></li>
                    <li><a href="https://www.coursera.org/account/accomplishments/certificate/D5UN6SEVHCJ4" target="_blank">Deeplearning.ai's Structuring Machine Learning Projects</a></li>
                    <li><a href="https://www.coursera.org/account/accomplishments/certificate/27YLMBZFRRSG" target="_blank">Deeplearning.ai's Improving Deep Neural Networks</a></li>
                    <li><a href="https://www.coursera.org/account/accomplishments/certificate/UNGA6ZFK9HXW" target="_blank">Deeplearning.ai's Neural Networks and Deep Learning</a></li>
                </ul>
                <p>July 2017 Completion</p>
                <ul title="July Completion">
                    <li><a href="https://prod-cert-bucket.s3.amazonaws.com/downloads/790f0be133b649a89418e9afeff54831/Statement.pdf" target="_blank">Stanford's Statistical Learning</a></li>
                </ul>
                <p>April 2017 Completion</p>
                <ul>
                    <li><a href="https://www.udemy.com/certificate/UC-YNMV41P8/" target="_blank">Udemy's Python for Data Science and Machine Learning Bootcamp</a></li>
                </ul>
                <p>February 2017 Completion</p>
                <ul>
                    <li><a href="https://www.coursera.org/account/accomplishments/certificate/AUJDW85FTWQT" target="_blank">Coursera UMichigan's Introduction to Data Science in Python</a></li>
                </ul>
                <p>November 2016 Completion</p>
                <ul>
                    <li><a href="https://courses.edx.org/certificates/d88135b8a395454d82a94fb3a921d46e" target="_blank">Edx-MIT's Intro to Computer Science and Programming Using Python</a></li>
                </ul>
                <p>July 2016 Completion</p>
                <ul>
                    <li><a href="https://courses.edx.org/certificates/667d7e2548334ba4bd09e64bb1c61aca" target="_blank">Edx-MIT's Analytics Edge</a></li>
                </ul>
                <p>April 2016 Completion</p>
                <ul>
                    <li><a href="https://www.coursera.org/account/accomplishments/certificate/PGFW8DT7FQL3" target="_blank">Coursera Stanford's Machine Learning</a></li>
                </ul>
            </ul>
        </div>
    </div>
</body>

{% endblock %}