{% extends 'base.html' %}
{% block content %}
<body background="{{ url_for('static', filename='centralparklake.jpg') }}">
    <div class="container">
        <div class="container" id="intro">
            <h5>Welcome!</h5>
            <h5>I created this site to showcase some of my skills, accomplishments, and newly found interest in web development with Python</h5>
            <p id="p-intro">Feel free to take a look at the following:</p>
            <a href="https://drive.google.com/open?id=0Bx60G-0PGzXpQTQwU2FpNUppb00" target="_blank"><button style="width:100px" type="Submit" class="btn btn-success">Resume</button></a>
            <a href="https://drive.google.com/open?id=0Bx60G-0PGzXpaUt3U1BMXzIwUTA" target="_blank"><button style="width:100px" type="Submit" class="btn btn-primary">CV</button></a>
            <a href="/projects"><button style="width:100px" type="Submit" class="btn btn-info">Projects</button></a>
            <a href="/resources"><button style="width:100px" type="Submit" class="btn btn-info">Resources</button></a>
            <a href="/certificates"><button style="width:100px" type="Submit" class="btn btn-info">Certificates</button></a>
            <a href="/skillset"><button style="width:100px" type="Submit" class="btn btn-info">Skillset</button></a>
        </div>
        <div class="container" id="linkedinlink">
            <a href="http://www.linkedin.com/in/seg2151" target="_blank" style="color:white">Click here for my Linkedin!</a>
        </div>
        <div class="container" id="githublink">
            <a href="http://www.github.com/seg2151" target="_blank" style="color:white">Click here for my Github!</a>
        </div>
    </div>
</body>

{% endblock %}