{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container">
        <div class="container" id="intro">
            <h5>Test</h5>
            <p>Test</p>
            <a href="/adtech-project"><button style="width:100px" type="Submit" class="btn btn-info">Adtech Analytics</button></a>
            <a href="/logistic-regression-project"><button style="width:100px" type="Submit" class="btn btn-info">Logistic Regression</button></a>
            <a href="link-to-full-machine-learning-project"><button style="width:100px" type="Submit" class="btn btn-info">Machine Learning</button></a>
            <a href="link-to-this-website"><button style="width:100px" type="Submit" class="btn btn-info">Web Development</button></a>
            <a href="link-to-scraper1"><button style="width:100px" type="Submit" class="btn btn-info">Scraping1</button></a>
            <a href="link-to-scraper2"><button style="width:100px" type="Submit" class="btn btn-info">Scraping</button></a>
        </div>
    </div>
</body>
{% endblock %}