{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container">
        <div class="container" style="text-align:center">
            <h5>Welcome to my Projects Page!</h5>
            <p>Below you'll find some analytics and scripting projects I've done for work, and some other projects for leisure</p>
            <div>
                <p>Web Development</p>
                <a href="/"><button style="width:100px" type="Submit" class="btn btn-info" target="_blank">This Site</button></a>
                <p>Analytics</p>
                <a href="/adtech-project" target="_blank"><button style="width:100px" type="Submit" class="btn btn-info"">Adtech</button></a>
                <p>Logistic Regression From Scratch</p>
                <a href="https://github.com/seg2151/logistic_regression_implementation/blob/master/Logistic%20Regression%20Implementation.ipynb" target="_blank"><button style="width:100px" type="Submit" class="btn btn-info">Log Reg</button></a>
                <p>Full Machine Learning and Data Analysis Project</p>
                <a href="/machine-learning" target="_blank"><button style="width:100px" type="Submit" class="btn btn-info">Machines</button></a>
                <p>Scraping, Data Cleaning, Automation Project</p>
                <a href="https://github.com/seg2151/Video-Tag-Debugger-Scraper" target="_blank"><button style="width:100px" type="Submit" class="btn btn-info">Scraping1</button></a>
                <p>Video Ad Testing Project</p>
                <a href="https://github.com/seg2151/JWPlayer-Video-Testing-Automation" target="_blank"><button style="width:100px" type="Submit" class="btn btn-info">Scraping2</button></a>
            </div>
        </div>
    </div>
</body>
{% endblock %}