{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="container">
            <p>These are the courses and sites I've used  and am currently using to further my learning with Python and machine learning</p>
            <ul>
                <li><a href="https://www.udemy.com/the-complete-python-web-course-learn-by-building-8-apps/learn/v4/content" target="_blank">Complete Python Web Course from Udemy</a></li>
                <li><a href="https://www.udemy.com/the-complete-python-postgresql-developer-course/learn/v4/content" target="_blank">Complete Python and PostgreSQL Developer Course from Udemy</a></li>
                <li><a href="https://www.coursera.org/specializations/deep-learning" target="_blank">Deeplearning.ai's Specialization from Coursera</a></li>
                <li><a href="https://lagunita.stanford.edu/courses/HumanitiesSciences/StatLearning/Winter2016/about" target="_blank">Statistical Learning from Stanford Lagunita</a></li>
                <li><a href="https://www.udemy.com/python-for-data-science-and-machine-learning-bootcamp/learn/v4/overview" target="_blank">Python for Data Science and Machine Learning from Udemy</a></li>
                <li><a href="https://www.coursera.org/learn/python-data-analysis/home/welcome" target="_blank">Introduction to Data Science in Python from Coursera</a></li>
                <li><a href="https://www.edx.org/course/introduction-computer-science-mitx-6-00-1x-11" target="_blank">Introduction to Computer Science and Programming using Python from Edx</a></li>
                <li><a href="https://www.edx.org/course/analytics-edge-mitx-15-071x-3" target="_blank">Analytics Edge from Edx</a></li>
                <li><a href="https://www.coursera.org/learn/machine-learning" target="_blank">Machine Learning from Coursera</a></li>
            </ul>
        </div>
    </div>
{% endblock %}